
/*promo*/
#promo{
    height: 700px;
    background: no-repeat center/cover url(../images/promo.png);
    margin-bottom: 100px;
}
.promo_header{
    height: 150px;
    line-height: 150px;
}
.promo_logo{
    float: left;
    font-size: 20px;
}
.promo_buttons{
    float: right;
    font-size: 14px;
}
.promo_logo > li,
.promo_buttons > li{
    color: #fff;
    list-style-type: none;
    display: inline-block;
}
.promo_logo a,
.promo_buttons a{
    text-decoration: none;
    color: #fff;
    font-family: MontserratBold;
}
.promo_buttons a{
    padding: 10px 18px;

}
.promo_buttons .promo_button-signIn > a{
    border: 3px solid #ffffff;
    border-radius: 20px;
}
.promo_buttons-logIn{
    margin-right: 20px;
}
.promo_Content{
    color: #fff;
    text-align: center;
}
.promoContentTop{
    text-transform: uppercase;
    font-size: 52px;
    font-family: MontserratBold;
}
.promoContentCenter{
    font-family: RobotoLight;
    font-size: 24px;
}
.promoContentBottom{
    margin: 2% 35% 2% 35%;
    text-align: center;
    font-family: MontserratBold;
    font-size: 14px;
    background-color: #ff4e50;
    padding: 10px;
    border-radius: 20px;
}
#How_it_works{
    padding: 0px;
    padding-bottom: 100px;
}
.How_It_Works_title{
    text-align: center;
    font-size: 22px;
    font-family: MontserratBold;
}

.first_picture{
    color: #ffffff;
    display: inline-block;
    width: 300px;
    height: 400px;
    background: no-repeat center/cover url("../images/HIWL.png");
}
.second_picture{
    color: #ffffff;
    margin: 0 15px;
    display: inline-block;
    width: 300px;
    height: 400px;
    background: no-repeat center/cover url("../images/HIWC.png");
}
.third_picture{
    color: #ffffff;
    display: inline-block;
    width: 300px;
    height: 400px;
    background: no-repeat center/cover url("../images/HIWR.png");
}
.first_picture, .second_picture, .third_picture{
    position: relative;
}
.first_picture_content, .second_picture_content, .third_picture_cotent{
    position: absolute;
    bottom: 20px;
    left:20px;
    right:20px;
}

.arrow_left, .arrow_right, .step_bottons, .picture_headers, .picture_text{
    display: inline-block;
}
.arrow_left{
    float: left;
    /*padding-left: 20px;*/
    /*margin-right: 100px;*/
    margin-bottom: 50px;
}
.arrow_right{
    float: right;
    /*padding-right: 20px;*/
    /*margin-left: 100px;*/
    margin-bottom: 50px;
}
.arrow_left:before,
.arrow_left:after,
.arrow_right:before,
.arrow_right:after{
    content: "";
    display: table;
    clear: both;
}
.step_bottons{
    padding: 5px 20px;
    /*margin-left: 10px;*/
    text-align: center;
    font-size: 14px;
    background-color: #ff4e50;
    border-radius: 20px;
}
.picture_headers{
    /*padding: 0px 20px 0px 20px;*/
    margin: 10px 0px 10px 0px;
    font-size: 24px;
    font-family: MontserratBold;
}
.picture_text{
    /*padding: 0px 15px 5px 15px;*/
    margin: 0px;
    font-family: RobotoLight;
    font-size: 14px;
    color: #afaeac;
}
#partners_info{
    margin-bottom: 110px;
}
.partner_title{
    text-align: center;
    font-size: 22px;
    font-family: MontserratBold;
}
.partners{
    height: 280px;
    position: relative;
    padding-bottom: 35px;
}
.first_partner, .second_partner, .third_partner, .fourth_partner{
    display: inline-block;
    position: absolute;
    top: 0px;
    margin:0px 10px;
}
.first_partner{
    left: 0px;
}
.second_partner{
    left: 220px;
}
.third_partner{
    left: 460px;
}
.fourth_partner{
    left: 700px;
}

.krujok_Tv{
    position: absolute;
    top : 90px;
    left : 135px;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url("../images/Samolet4.png");
}
.krujok_Coffe{
    position: absolute;
    top : 90px;
    left : 135px;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url("../images/samolet2.png");
}
.krujok_Chemestry{
    position: absolute;
    top : 90px;
    left : 135px;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url("../images/samolet1.png");
}
.krujok_Samolet{
    position: absolute;
    top : 90px;
    left : 135px;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url("../images/Samolet.png");
}
.partner_name{
    text-align: center;
    font-family: MontserratBold;
    font-size: 14px;
}
.comment{
    text-align: center;
    color: #969696;
    font-family: RobotoLight;
    font-size: 14px;
}
.first_partner_picture, .second_partner_picture, .third_partner_picture, .fourth_partner_picture{
    margin: auto;
    width: 125px;
    height: 125px;
}
.first_partner_picture{
    background: no-repeat center/cover url("../images/Mujik2.png");
}
.second_partner_picture{
    background: no-repeat center/cover url("../images/Podruga2.png");
}
.third_partner_picture{
    background: no-repeat center/cover url("../images/Mujik.png");
}
.fourth_partner_picture{
    background: no-repeat center/cover url("../images/Podruga.png");
}
.partners_buttons{
    margin-top: 35px;
    text-align: center;
}
.partners_buttons a{
    text-decoration: none;
    color: #ff4e50;
    border: 3px solid #ff4e50;
    border-radius: 35px;
    font-family: MontserratBold;
    font-size: 14px;
    padding: 10px 25px;
}


#ideas{
    margin-bottom: 100px;
}
.ideas_title{
    text-align: center;
    font-size: 22px;
    font-family: MontserratBold;
    margin-bottom: 30px;
}
.idea_photo{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: MontserratBold;
    margin-bottom: 5px;
    line-height: 310px;
}
.Sport_and_Activity{
    width: 300px;
    height: 310px;
    background: no-repeat center/cover url("../images/g0.png");
}
.Wellnes_and_Health{
    background: no-repeat center/cover url("../images/g1.png");
    width: 300px;
    height: 310px;
    margin-left: 3px;
    margin-right: 3px;
}
.Extreme_Sports_and_Expeditions{
    background: no-repeat center/cover url("../images/g2.png");
    width: 300px;
    height: 310px;
    display: inline-block;
    text-align: center;
    padding-top: 120px;
}
.Extreme_Sports_and_Expeditions div{
    color: #ffffff;
    font-size: 22px;
    font-family: MontserratBold;
    margin-bottom: 5px;
}
.Games{
    background: no-repeat center/cover url("../images/G3.png");
    width: 300px;
    height: 310px;
    margin-right: 3px;
}
.Culture_and_Education{
    background: no-repeat center/cover url("../images/G4.png");
    width: 608px;
    height: 310px;
    border-radius: 5px;
}

.Relaxation{
    border-radius: 5px;
    background: no-repeat center/cover url("../images/g5png.png");
    width: 608px;
    height: 310px;
}
.Travelling{
    background: no-repeat center/cover url("../images/G6.png");
    width: 300px;
    height: 310px;
    margin-left: 3px;
}

#sendMesege{
    margin-bottom: 100px;
}
.title_toform{
    text-align: center;
    font-size: 22px;
    font-family: MontserratBold;
}
.question{
    margin: 35px 0px;
    text-align: center;
    font-family: RobotoLight;
    font-size: 14px;
}
input{
    height: 40px;
    width: 240px;
    display: inline-block;
    margin-left: 250px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.mail_button{
    display: inline-block;
    color: #ffffff;
    width: 160px;


    text-align: center;
    font-size: 14px;
    background-color: #ff4e50;
    padding: 15px 15px;
    border-radius: 20px;
}


/*footer*/
.footer{
    border-top: 1px solid #ff4e50;
}
.mainfooter{
    padding-top: 40px;
}
.footerLeft, .footerCenterLeft, .footerCenterRight, .footerRight{
    display: inline-block;

}
.footerLeft{
    font-size: 16px;
    font-family: MontserratBold;
    color: #ff4e50;
    float: left;
    padding-right: 100px;
}
.footerCenterLeft{
    font-size: 14px;
    font-family: MontserratBold;
    padding-right: 100px;
    float: left;
}
.footerCenterLeft p{
    color: #c0c0c0;
}
.footerCenterRight{
    font-size: 14px;
    font-family: MontserratBold;
    float: left;
}
.footerRight{
    float: right;
}
.footerRight p{
    text-align: right;
    color: #d7d7d7;
    font-size: 10px;
    font-family: MontserratBold;
}

/*чистка после float*/
.footerLeft:before,
.footerLeft:after,
.footerCenterLeft:before,
.footerCenterLeft:after,
.footerCenterRight:before,
.footerCenterRight:after,
.footerRight:before,
.footerRight:after,{
    content: "";
    display: table;
    clear: both;
}
.footerCenterRight>p{
    margin: 0px;
}

.footerCenterLeft>p{
    font-size: 14px;
    font-family: RobotoLight;
}



