@media (min-width: 300px) and (max-width: 768px) {
    #promo{
        height: 540px;
    }
    .promo_buttons,
    .promo_logo{
        display: block;
        text-align: center;
        float:none;
        margin-top:0;
    }
    .promo_header{
        text-align: center;
        height: 260px;
    }
    .promoContentTop{
        text-transform: uppercase;
        font-size: 30px;
        font-family: MontserratBold;;
    }
    .promoContentCenter{
        font-family: RobotoLight;
        font-size: 18px;
    }
    .promoContentBottom{
        margin: 2% 15% 2% 15%;
        text-align: center;
        font-size: 14px;
        background-color: #ff4e50;
        padding: 10px;
        border-radius: 20px;
    }
    #How_it_works{
        padding-bottom: 35px;
    }
    .first_picture{
        display: inline-block;
        width: 300px;
        height: 240px;
        background: no-repeat center/cover url("../images/HIWL.png");

    }
    .second_picture{
        margin: 0px;
        display: inline-block;
        width: 300px;
        height: 240px;
        background: no-repeat center/cover url("../images/HIWC.png");
    }
    .third_picture{
        display: inline-block;
        width: 300px;
        height: 240px;
        background: no-repeat center/cover url("../images/HIWR.png");
    }
    .arrow_left{
        display: none;
    }
    .arrow_right {
        display: none;
    }
    .partner_title{
        padding-bottom: 25px;
    }
    .partners{
        height: auto;
        position: relative;
        width: 300px;
    }
    .first_partner, .second_partner, .third_partner, .fourth_partner{
        position: relative;
    }
    .krujok_Tv{
        position: absolute;
        top : 90px;
        left : 170px;
    }
    .krujok_Coffe{
        position: absolute;
        top : 315px;
        left : 170px;
    }
    .krujok_Chemestry{
        position: absolute;
        top : 540px;
        left : 170px;
    }
    .krujok_Samolet{
        position: absolute;
        top : 795px;
        left : 170px;
    }
    .first_partner, .second_partner, .third_partner, .fourth_partner{
        display: block;
        position: static;
        margin:0px 10px;
    }
    .Extreme_Sports_and_Expeditions{
        margin-bottom: 5px;
    }
    .Culture_and_Education{
        background: no-repeat center/cover url("../images/G4.png");
        width: 300px;
        height: 310px;
        border-radius: 5px;
    }
    .Relaxation{
        border-radius: 5px;
        background: no-repeat center/cover url("../images/g5png.png");
        width: 300px;
        height: 310px;
    }
    input{
        display: block;
        width: 300px;
        height: 40px;
        margin: auto;
        margin-left: 0px;
        padding-left: 5px;
    }
    .mail_button{
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    .footerLeft, .footerCenterLeft, .footerCenterRight, .footerRight{
        display: block;
    }
    .footerLeft{
        text-align: center;
        float: none;
        padding-right: 0px;
        padding-bottom: 15px;
    }
    .footerCenterLeft{
        text-align: center;
        padding-right: 0px;
        float: none;
    }
    .footerCenterLeft p{
        padding-right: 5px;
       display: inline-block;
    }
    .footerCenterRight{
        text-align: center;
        padding-right: 0px;
        float: none;
        padding-bottom: 15px;
    }
    .footerRight{
        text-align: center;
        padding-right: 0px;
        float: none;
    }
    .footerRight p{
        color: #d7d7d7;
        font-size: 10px;
        font-family: MontserratBold;
    }
}
